html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

body, table, td, th {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    text-align: left;
    letter-spacing: 0;
    line-height: 1.4;
    word-spacing: 0;
}

body{
	color: #333;
    background-color: #EEE;
    background-image: url(../images/noise.png);
}

.login-area{
	/* background-color:rgba(128,128,128,0.3); */
	margin: 0 auto;
	padding: 15px;
}

.error-area{
	background-color:rgba(128,128,128,0.3);
	margin: 0 auto;
}

.error-area ul
{
	list-style-type: none;
}

h2{
font-size: 1.5em;	
}

.login-area .title{
	display: table;
	margin: 0 auto;
}

.content{
	padding-top:60px;
	vertical-align: middle;
}

.error-code h1{
	font-size:200px;
	font-weight: bold;
	color:#d9534f;
}

.error-code h2{
	font-size:40px;
	font-weight: bold;
}

html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, .w3-slim, .w3-wide {
    font-family: "Segoe UI",Arial,sans-serif;
}

.error-code{
	text-align: center;
vertical-align: middle;
line-height: 90px;  
}


.event-count{
	font-size: 50px;
	font-weight: bold;
}

.panel-form{
	padding: 40px;
}

.table > tbody > tr > td {
     vertical-align: middle;
}

.panel-heading
{
    border-top-left-radius: inherit; 
    border-top-right-radius: inherit;
}
/* CSS used here will be applied after bootstrap.css */
/* Custom panel-heading colors in the panel components*/
.panel-default > .panel-heading-custom{
  background-image: none;
  background-color: #cf5b95;
  color: #ffffff;
}
.panel-default > .panel-heading-custom2{
  background-image: none;
  background-color: #ed6b71;
  color: #ffffff;
}
.panel-default > .panel-heading-green{
  background-image: none;
  background-color:#5fba7d;
  /* background-color: #f07c4a; */
  color: #ffffff;
}

.panel-default > .panel-heading-blue{
  background-image: none;
  background-color:#2e6da4;
  /* background-color: #f07c4a; */
  color: #ffffff;
}

.panel-default > .panel-heading-yellow{
  background-image: none;
  background-color:#f1c40f;
  color: #ffffff;
}

.panel-default > .panel-heading-red{
  background-image: none;
  background-color:#e74c3c;
  color: #ffffff;
}

.panel-default > .panel-heading-purple{
  background-image: none;
  background-color:#9b59b6;
  color: #ffffff;
}
/* End custom panel-heading colors */

.bug-new{
	background-image: none !important;
  	background-color:#FF3C21 !important;
  	color: #ffffff !important;
  	padding:5px !important;
  	text-align: center;
}
.bug-current{
	background-image: none !important;
  	background-color:#FF9500 !important;
  	color: #ffffff !important;
  	  	padding:5px !important;
  	text-align: center;
}
.bug-fixed{
	background-image: none !important;
  	background-color:#00D16D !important;
  	color: #ffffff !important;
  	  	padding:5px !important;
  	text-align: center;
}
.bug-duplicate{
	background-image: none !important;
  	background-color:#E3E1DE !important;
  	color: #5A6A73 !important;
  	  	padding:5px !important;
  	text-align: center;
}

.panel-heading span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 78%;
    padding-top: 4px;
    font-weight: bold
}

.navbar-custom {
  background-color: #337ab7;
  border-color: #2c699d;
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #f2ebeb;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #f2ebeb;
  background-color: #2c699d;
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #2b679b;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #f2ebeb;
  border-bottom-color: #f2ebeb;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #2c699d;
  color: #f2ebeb;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #f2ebeb;
  border-bottom-color: #f2ebeb;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f2ebeb;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f2ebeb;
    background-color: #2c699d;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #f2ebeb;
}

.val-erros span{
	color: #e74c3c;
	font-size: 12px;
	padding-top: 2px;
	margin-top:10px;
	margin-left: 5px;
}

.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
@media ( min-width : 992px) and (max-width: 1199px) {
	
}

@media ( min-width : 768px) and (max-width: 991px) {
	
}

@media only screen and (max-width: 320px) {


}